$white: #ffffff;
$snow: #dce3e6;
$mintCream: #eaf0f2;
$ghostWhite: #fefefe;
$whiteSmoke: rgba(255, 255, 255, 0.48);
$black: #000000;
$dark: #0c0d0d;
$gray: #91989a;
$LightGray: #f0f2f5;
$silver: #858585;
$blackgray: #d9d9d9;
$dimgray: #f0f0f0;
$purple: #311d40;
$mediumPurple: #52415f;
$dodgerBlue: #6d82ec;
$green: green;
$orchid: rgba(161, 107, 201, 0.16);
$blue: #2b41b2;
$boldSilver: #696e6f;
$yellow: #f2bf58;
$skyblue: #7280cc;
$skyblueLight: #40a9ff;
$info: #009fea;
$success: #52c41a;
$warning: #f27212;
$error: #f00;
$black: #000000;
